``Hello'' in various character sets::

Danish (Dansk)		Hej, Goddag
English			Hello
Esperanto		Saluton
Estonian		Tere, Tervist
Finnish (Suomi)		Hei
French (Fran-Agais)	Bonjour, Salut$)C
German (Deutsch Nord)	Guten Tag
German (Deutsch S-A|d)	Gr|_ Gott$)C
Greek (-FGkk]mija)	Cei\ sar$)C
Hebrew			-Hylem$)C
Italiano		Ciao, Buon giorno
Maltese			Ciao
Nederlands, Vlaams	Hallo, Dag
Norwegian (Norsk)	Hei, God dag
Polish			Dzie.ANq Dobry, Hej
Russian (-L@caaZXY)	7T`PRabRcYbU!$)C
Spanish (Espa-Aqol)	!Hola!$)C
Swedish (Svenska)	Hej, Goddag
Turkish (T-A|rkge)	Merhaba$)C
Yoguslavian		Zdravo

Japanese ($BF|K\8l(B)		$B$3$s$K$A$O(B, (I:]FAJ(B
Chinese ($AVPND(B,$AFUM(;0(B,$A::So(B)	$ADc:C(B
Hangul ($(CGQ1[(B)			$(C>H3gGO<<?d(B, $(C>H3gGO=J4O1n(B

``Nihao'' in various character sets::

Simplified Chinese:	$)ADc:C (GB 2312-80)
Traditional Chinese:	§A¦n (Big5)
			$)GI#Go (CNS 11643-1992)
Japanese:		$(D0_$B9%(B (JIS X 0212-1990 & JIS X 0208-1983)
